@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100;1,200;1,300&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:1rem 6.5rem;
    background: #131313;
    z-index: 100000;
}
.nav h2 {
    color:orangered;
    font-size:1.7rem;
}
.back{
    background-image:url('images/images.jpg');
    width:100%;
    height:100vh;
    background-size: cover;
    z-index:-1;
}
.back .overlay{
    background:#171819;
    width:100%;
    height:100%;
    opacity:0.85;
}
.mid{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.mid p{
    color: #7f8c8d;
    font-size: 1.3rem;
    margin-bottom:1.4rem;
}
.mid h2{
    color:orangered;
    font-size:3rem;
    text-transform: uppercase;
}
.mid .btn{
    margin-top:2rem;
}
.mid .btn a{
    text-decoration: none;
    text-transform: uppercase;
}
.mid .btn a.simple{
    color:#fff;
    font-weight:500;
    padding:0.9rem 1.6rem;
}
.mid .btn a.border{
    color:orangered;
    border:1px solid orangered;
    font-weight:500;
    padding:0.9rem 1.6rem;
    border-radius:3px;
}
.mid .btn a.simple:hover{
    color:#ff5733;
}
.mid .btn a.border:hover{
    background-color: #fff;
}
#item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#item li{
    list-style:none;
    padding-right:50px;
}
#item li a{
    text-decoration: none;
    font-size:1rem;
    text-transform:uppercase;
    color:orangered;
}
#item li a:hover{
    color:#7f8c8d;
    cursor: pointer;
}
#bar{
    color: #ff5733;
    font-size:1.5rem;
    display:none;
}
.details{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:8rem 15rem;
    background: #171819;
}
.details h3,h5{
    color:orangered;
}
.details .one{
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.details .two{
    width:45%;
    border-left:1px solid orangered;
    padding-left:4rem;
}
.details .one .list{
    color: #fff;
}
.details .one h3{
    font-size: 2.5rem;
    padding-bottom:1.1rem;
    text-transform: uppercase;
}
.details .one ul{
    font-size:1.3rem;
    font-weight:400;
    padding-bottom:1.2rem;
}
.details .one a{
    color:#fff;
    background:#f13a11;
    padding:1rem 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing:1px;
    text-align: center;
}
.details .one a:hover{
    background-color:#fff;
    color: #ff5733;
}
.details .two h3{
    font-size:2.5rem;
    text-transform:uppercase;
}
.details .two h5{
    font-size:1.1rem;
}
.details .two p{
    font-size:1.1rem;
    color:#666262;
    margin-bottom:0.8rem;
}
.trainer{
    background-color:#171819;
    padding:8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.trainer .people{
    width: 55%;
}
.trainer .people img{
    width:65%;
    object-fit: cover;
    height:auto;
    margin-left:10%;
}
.trainer .about{
    width:39%;
    margin-right:5%;
}
.trainer .about h2{
    color: #fff;
    font-size: 2.1rem;
    text-transform: uppercase;
    padding-bottom: 1.1rem;
}
.trainer .about h2 span{
    color: #f13a11;
}
.trainer .about p {
    color: #7f8c8d;
    font-size:1.1rem;
}
.contact{
    padding:8rem;
    background: #171819;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contact .form{
    width:45%;
}
.contact .form h2{
    font-size:2rem;
    color: #f13a11;
    text-transform: uppercase;
    padding-bottom:10px;
    width: 100%;
}
.contact .form .submit{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.contact .form .submit input, .contact .form .submit textarea{
    width:100%;
    padding:15px;
    border:1px solid #95a5a6;
    outline:none;
    margin:13px 0;
}
.contact .form .submit input:focus, .contact .form .submit textarea:focus{
    border:1px solid #f13a11;
}
.contact .form .submit input::placeholder{
    color:#7f8c8d;
    font-size:1.1rem;
}
.contact .form .submit textarea::placeholder{
    color:#7f8c8d;
    font-size:1.1rem;
    height: 80%;
}
.contact .form .submit a{
    width:100%;
    padding:15px 0;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f13a11;
    color: #fff;
    text-align: center;
    font-size:1.1rem;
    margin: 13px 0;
}
.contact .map{
    width:45%;
}
.contact .map iframe{
    width:100%;
}
.contact .map h2{
    font-size:2rem;
    color: #f13a11;
    text-transform: uppercase;
    padding-bottom:10px;
    width: 100%;    
}
.contact .map p{
    font-size:1.1rem;
    color:#7f8c8d;
    padding-bottom:30px;
    width: 100%;    
}
.contact .map p i{
    color: red;
    padding-right:4px;
}
.footer__container {
    background-color: #131313;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer__logo {
    color:#f13a11;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
}
.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}
.footer__link--wrapper {
    display: flex;
}
.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}
.footer__link--items h2 {
    margin-bottom: 16px;
    color:#f13a11;
}
.footer__link--items a {
    color:#7f8c8d;
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}
.footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3 ease-out;
}
.social__icon--link {
    color:#f13a11;
    font-size: 24px;
}
.social__icon--link:hover {
    color:#e9e9e9;
}
.social__media {
    max-width: 1000px;
    width: 100%;
}
.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}
.website__rights {
    color:#7f8c8d;
}
@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }
    #footer__logo {
      margin-bottom: 2rem;
    }
    .website__rights {
      margin-bottom: 2rem;
    }
    .footer__link--wrapper {
      flex-direction: column;
    }
    .social__media--wrap {
      flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
}
@media screen and (max-width:1042px) {
    .nav{
        padding:1rem 4.5rem;
    }
    .nav h2 {
        font-size:1.4rem;
    }
    #item li{
        padding-right:30px;
    }
    #item li a{
        font-size:0.9rem;
    }
}
@media screen and (max-width:991px) {
    .nav{
        padding:1rem 3rem;
        flex-direction: column;
    }
    .nav h2 {
        font-size:1.6rem;
    }
    #item {
        flex-direction:column;
        text-align: center;
        width: 300px;
        height:80vh;
        position: fixed;
        top:0;
        right:-300px;
        background: rgba(0,0,0,0.8);
        z-index:100000;
        margin-top:4.2rem;
        transition:0.5s;
    }
    #item li{
        padding-right:0px;
        padding:4px 0;
    }
    #item li a{
        font-size:1.2rem;
    }
    #bar{
        display:initial;
        cursor: pointer;
    }
    .mid p{
        font-size: 1.1rem;
        margin-bottom:1.2rem;
    }
    .mid h2{
        font-size:2.5rem;
    }
    .mid .btn{
        margin-top:1.5rem;
    }
    .mid .btn a{
        font-size:0.9rem;
    }
    .mid .btn a.simple{
        padding:0.7rem 1.4rem;
    }
    .mid .btn a.border{
        padding:0.7rem 1.4rem;
    }
    .details{
        padding:6rem 7rem;
    }
    .details .one{
        width:50%;
    }
    .details .two{
        padding-left:3.5rem;
    }
    .details .one .list{
        color: #fff;
    }
    .details .one h3{
        font-size: 2rem;
        padding-bottom:1rem;
    }
    .details .one a{
        font-size:0.9rem;
    }
    .details .two h3{
        font-size:2rem;
    }
    .details .two h5{
        font-size:1rem;
    }
    .details .two p{
        font-size:1rem;
        margin-bottom:0.6rem;
    }
    .trainer{
        padding:6rem 7rem;
    }
    .trainer .about{
        width:39%;
        margin-right:5%;
    }
    .trainer .about h2{
        font-size: 2rem;
        padding-bottom: 1.4rem;
    }
    .trainer .about p {
        font-size:1rem;
    } 
    .contact{
        padding:6rem;
    }
    .contact .form h2{
        font-size:2rem;
        padding-bottom:7px;
    }
    .contact .form .submit input, .contact .form .submit textarea{
        padding:12px;
        margin:10px 0;
    }
    .contact .form .submit input::placeholder{
        font-size:1rem;
    }
    .contact .form .submit textarea::placeholder{
        font-size:1rem;
    }
    .contact .form .submit a{
        padding:13px 0;
        font-size:1rem;
        margin: 10px 0;
    }
    .contact .map h2{
        font-size:2rem;
        padding-bottom:7px;    
    }
    .contact .map p{
        font-size:1rem;
        padding-bottom:20px;   
    }
    .contact .map p i{
        padding-right:4px;
    }       
}
@media screen and (max-width:768px) {
    .nav h2 {
        font-size:1.5rem;
    }
    .back{
        background-position:center;
    }
    .mid p{
        font-size: 1rem;
        margin-bottom:1rem;
    }
    .mid h2{
        font-size:2.1rem;
    }
    .mid .btn{
        margin-top:1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mid .btn a.simple{
        padding:0.7rem 1.4rem;
        margin-bottom:7px;
    }
    .mid .btn a.border{
        padding:0.7rem 1.4rem;
    }
    .details{
        padding:5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .details .one{
        width:70%;
    }
    .details .two{
        padding-left:0;
        border-left:0;
        border-top:1px solid #666262;
        width:70%;
        margin-top:1.7rem;
        padding-bottom:1.7rem;
    }
    .trainer{
        padding:5rem 2rem;
        flex-direction: column;
        justify-content: center;
    }
    .trainer .about{
        width:70%;
        margin-bottom:1.7rem;
    }
    .trainer .people{
        width:70%;
    }
    .contact{
        padding:5rem 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact .form{
        width:70%;
        margin-bottom:1.5rem;
    }
    .contact .form h2{
        font-size:2.5rem;
    }
    .contact .map{
        width:60%;
    }      
}
@media screen and(max-width:496px) {
    .mid p{
        margin-bottom:0.8rem;
    }
    .mid h2{
        font-size:1.8rem;
    }
    .mid .btn{
        margin-top:0.7rem;
    }
    .details{
        padding:4rem 1rem;
    }
    .details .one{
        width:100%;
    }
    .details .two{
        width:100%;
    }
    .trainer{
        padding:4rem 1rem;
    }
    .trainer .about{
        width:100%;
    }
    .trainer .people{
        width:80%;
        flex-direction: column;
        justify-content: center;
    }
    .contact{
        padding:4rem 1rem;
    }
    .contact .form{
        width:100%;
        margin-bottom:1.5rem;
    }
    .contact .map{
        width:100%;
    }        
}
